@font-face {
  font-family: 'AzoSansWebReg',sans-serif;
  src: url('Rui Abreu - AzoSans-Bold.otf') format('embedded-opentype');
}

.article-clean {
  color:#fff;
  
  font-family:'AzoSansWebReg',sans-serif;
  font-size:24px;
}

.article-clean .intro {
  font-size:16px;
  margin:0 auto 30px;
}

.article-clean .intro h1 {
  font-size:40px;
  margin-bottom:15px;
  padding-top:20px;
  line-height:1.5;
  color:#ffffff;
  margin-top:20px;
}

.article-clean .intro p {
  color:#ffffff;
  font-size:12px;
}

.article-clean .intro p .by {
  font-style:italic;
}

.article-clean .intro p .date {
  text-transform:uppercase;
  padding:4px 0 4px 10px;
  margin-left:10px;
  border-left:1px solid #ddd;
}

.article-clean .intro p a {
  color:#ffffff;
  text-transform:uppercase;
  padding-left:3px;
}

.article-clean .intro img {
  margin-top:20px;
}

.article-clean .text p {
  margin-bottom:20px;
  line-height:1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size:22px;
  }
}

.article-clean .text h2 {
  margin-top:28px;
  margin-bottom:20px;
  line-height:1.45;
  font-size:22px;
  font-weight:bold;
  color:#333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size:20px;
  }
}

.article-clean .text figure {
  text-align:center;
  margin-top:30px;
  margin-bottom:20px;
}

.article-clean .text figure img {
  margin-bottom:12px;
  max-width:100%;
}

p {
  color:#ffffff;
  font-family:'AzoSansWebReg';
}

body{
    padding: 50px;
    font-family:'AzoSansWebReg';
}




.icon-circle .fa{
    font-size           : 10px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 15px;
}

@media (min-width:320px) and (max-width:768px) {


 .icon-circle .fa{
    font-size           : 10px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 15px;
    width               : 15px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 15px;
}   
}

.ifacebook .fa{
    color               : #FF755D;
    border              :2px solid #FF755D;
    background-color        :#ffffff;
}

.ifacebook .fa:hover{
    
     background-color        :#FF755D;    
    color                   : #fff;
    border                  : 1px solid #FF755D;

}

.itwittter .fa{
    color               : #FF755D;
    border              :2px solid #FF755D;
    background-color        :#ffffff;
}

.itwittter .fa:hover{
    
     background-color        :#FF755D;    
    color                   : #fff;
    border                  : 1px solid #FF755D;

}

.igoogle .fa{
    color               : #FF755D;
    border              :2px solid #FF755D;
    background-color        :#ffffff;
}

.igoogle .fa:hover{
    
     background-color        :#FF755D;    
    color                   : #fff;
    border                  : 1px solid #FF755D;

}

.iLinkedin .fa{
    color               : #FF755D;
    border              :2px solid #FF755D;
    background-color        :#ffffff;
}

.iLinkedin .fa:hover{
    
    background-color        :#FF755D;    
    color                   : #fff;
    border                  : 1px solid #FF755D;

}
.screen-only{
display: block;
}
.mobile-only{
display: none;
}
@media screen and (max-width: 480px){
.screen-only{
display: none;
}
.mobile-only{
display: block;
}
}